html {
  font-family: "Chivo", sans-serif;
}

.container {
  text-align: center;
  background-color: #ff7e68;
  width: 100vw;
  height: 100vh;
  max-width: 500px;
  max-height: 900px;
  margin: auto;
  padding: 0;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  color: white;
  font-style: italic;
  margin: 0;
}
h4,
p {
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
  padding: 0;
  margin: 0;
}

.resultParas {
  margin: auto;
  width: 100%;
  height: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 4rem;
}

.lastResult {
  color: white;
  padding: 3px;
}

.value {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 6em;
  width: 350px;
  line-height: 60px;
  margin: 40px auto;
  letter-spacing: 0.07em;
  text-shadow: #bdc3c7 2px 2px 2px;
  margin-top: 80px;
}
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 95%;
  height: 10px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: green;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.guessContainer {
  margin: 3rem auto;
  display: none;
}
.guessContainer p {
  margin: 2rem 0;
}

.score {
  margin-top: 4rem;
}

.score span {
  background: white;
  color: black;
  padding: 0.2rem 2rem;
}
.btn {
  margin-top: 3rem;
}

.messageBox {
  width: 98vw;
  height: 98vh;
  color: white;
  word-break: break-word;
}

.messageBox h2 {
  font-family: "Chivo", sans-serif;
  font-weight: 700;
  font-size: 6.5rem;
}
